.picture {
    border: 5px solid transparent;
    display: block;
    margin: auto;
    max-width: 100%;
}
.background {
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    max-width: 500px;
    padding: 100px;
}
.background__active {
    background-color: #8b00ff;
}
.picture__active {
    border: 5px solid #000;
}